/*material*/
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(assets/fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(assets/fonts/MaterialIcons-Regular.woff) format('woff'),
    url(assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

p {
    margin-bottom: 0;
}

.row {
    margin: 0;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding: 0;
}

.rr-icon{
    cursor: pointer;
    user-select: none;
}

@font-face {
    font-family: AvenirBlack;
    src: url(assets/fonts/Avenir-Black.ttf) format("truetype");
}

@font-face {
    font-family: AvenirBook;
    src: url(assets/fonts/Avenir-Book.ttf) format("truetype");
}

@font-face {
    font-family: AvenirMedium;
    src: url(assets/fonts/Avenir-Medium.ttf) format("truetype");
}

@font-face {
    font-family: AvenirRoman;
    src: url(assets/fonts/Avenir-Roman.ttf) format("truetype");
}

@font-face {
    font-family: AvenirLight;
    src: url(assets/fonts/Avenir-Light.ttf) format("truetype");
}


@font-face {
    font-family: AvenirHeavy;
    src: url(assets/fonts/Avenir-Heavy.ttf) format("truetype");
}

body {
    font-family: AvenirMedium, sans-serif;
    font-size: 14px;
    background: #ffffff url("assets/img/header-bg.png") repeat-x;
}

#wrapper {
    width: 1110px;
    padding: 0;
    margin: 0 auto;
}
header{
    height: 90px;
}

.header-logo {
    margin-top: 15px;
    float: left;
}

ul.header-menu {
    float: right;
    margin-top: 22px;
    margin-left: 90px;
    list-style: none;
}

ul.header-menu li {
    display: inline-block;
    line-height: 45px;
}

ul.header-menu li:nth-child(n+2) {
margin-left: 10px;
}

ul.header-menu li a {
    display: block;
    padding: 0 5px;
    text-decoration: none;
    height: 50px;
    color: white;
}

ul.header-menu li a span.title {
    padding: 0 0 0 8px;
    font-size: 12px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.34;
    letter-spacing: 0.6px;
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
}

ul.header-menu li a img {
    vertical-align: middle;
    padding: 3px 0 0 0;
}

ul.header-menu li a span.title span.username {
    text-transform: capitalize;
    font-weight: 500;
}

header::after {
    height: 0;
    clear: both;
    content: '';
    display: block;
}

.select-wrap{
    position: relative;
    display: inline-block;
}
.select-wrap .material-icons{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 40px;
    width: 30px;
    display: block;
    background-color: #404041;
    color: white;
    font-size: 27px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    z-index: 1;
}
.select-wrap .form-search{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 110px;
    background-color: transparent;
    z-index: 2;
    position: relative;
}
.select-wrap span{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    display: block;
    z-index: 0;
    border-radius: 8px;
}

#frm-search{
    width: 100%;
    background: #ee2f42;
}

#frm-search-content{
    padding: 20px;
}

#frm-search h1 {
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.frm-input{
    height: 40px;
    border-radius: 8px;
    background-color: #ffffff;
    border: none;
    padding: 10px;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.27;
    letter-spacing: normal;
    text-align: left;
    color: #cccccc;
}

.frm-input::placeholder{
    color: #000;
    opacity: 0.3;
}

.select-wrap .frm-input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 110px;
    background-color: transparent;
    z-index: 2;
    position: relative;
    padding-top: 3px;
}

.inline-block{
    display: inline-block;
}

.w330 {
    width: 330px;
}

.w129{
    width: 129px;
}

.w80{
    width: 80px;
}
.w110{
    width: 110px;
}

.pd-l-10{
    padding-left: 10px;
}

.mg-l-25{
    margin-left: 25px;
}

.mg-l-10{
    margin-left: 10px;
}

.mg-l-15{
    margin-left: 15px !important;
}

.lab-room{
    width: 50px;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.77;
    letter-spacing: 0.7px;
    text-align: left;
    color: #ffffff;
    margin-top: -29px;
    background-color: transparent !important;
}

.add-room{
    display: inline;
    font-size: 11px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.27;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
    margin-top: 29px;
    background-color: transparent !important;
}

.check-in{
    display: inline-block;
    position: relative;
    padding-left: 37px;
}
.check-out {
    position: relative;
    padding-left: 37px;
    margin-left: 10px;
    display: inline-block;
}
.icon-calendar{
    position: absolute;
    left: 0px; top: 0px;
}
.select-adult{
    display: inline-block;
    margin-bottom: 25px;
    margin-left: 25px;
}
.frm-search-tag-boder{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: #404041;
    position: relative;
}

.img-tag{
    text-align: center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    left: 0px;
    right: 0px;
}
.hotel-rating{
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.77;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.check-box{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
}

.text-star{
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 3;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-left: 2px;
    display: inline-block;
}

